{% case svg %}

  {% when 'minus' %}
  <svg class="s-icon s-icon--minus" viewBox="0 0 24 24">
  <title>minus</title>
  <path d="M18.984 12.984h-13.969v-1.969h13.969v1.969z"></path>
  </svg>

  {% when 'plus' %}
  <svg class="s-icon s-icon--plus" viewBox="0 0 24 24">
  <title>plus</title>
  <path d="M18.984 12.984h-6v6h-1.969v-6h-6v-1.969h6v-6h1.969v6h6v1.969z"></path>
  </svg>

  {% when 'chevron_right' %}
    <svg class="s-icon s-icon--chevron-right" viewBox="0 0 20 20"><path d="M13.25 10l-7.141-7.42c-0.268-0.27-0.268-0.707 0-0.979 0.268-0.27 0.701-0.27 0.969 0l7.83 7.908c0.268 0.271 0.268 0.709 0 0.979l-7.83 7.908c-0.268 0.271-0.701 0.27-0.969 0s-0.268-0.707 0-0.979l7.141-7.417z"></path></svg>

  {% when 'chevron_left' %}
    <svg class="s-icon s-icon--chevron-left" viewBox="0 0 20 20"><path d="M13.891 17.418c0.268 0.272 0.268 0.709 0 0.979s-0.701 0.271-0.969 0l-7.83-7.908c-0.268-0.27-0.268-0.707 0-0.979l7.83-7.908c0.268-0.27 0.701-0.27 0.969 0s0.268 0.709 0 0.979l-7.141 7.419 7.141 7.418z"></path></svg>

  {% when 'chevron_up' %}
	<svg class="s-icon s-icon--chevron-up" viewBox="0 0 20 20">
    <title>chevron-thin-up</title>
    <path d="M2.582 13.891c-0.272 0.268-0.709 0.268-0.979 0s-0.271-0.701 0-0.969l7.908-7.83c0.27-0.268 0.707-0.268 0.979 0l7.908 7.83c0.27 0.268 0.27 0.701 0 0.969s-0.709 0.268-0.978 0l-7.42-7.141-7.418 7.141z"></path>
    </svg>

  {% when 'chevron_up_2' %}
	<svg class="s-icon s-icon--chevron-up-2" viewBox="0 0 20 20">
    <title>chevron-up</title>
    <path d="M15.484 12.452c-0.436 0.446-1.043 0.481-1.576 0l-3.908-3.747-3.908 3.747c-0.533 0.481-1.141 0.446-1.574 0-0.436-0.445-0.408-1.197 0-1.615 0.406-0.418 4.695-4.502 4.695-4.502 0.217-0.223 0.502-0.335 0.787-0.335s0.57 0.112 0.789 0.335c0 0 4.287 4.084 4.695 4.502s0.436 1.17 0 1.615z"></path>
    </svg>

  {% when 'check-box-outline' %}
    <svg class="s-icon s-icon--check-box-outline" viewBox="0 0 24 24">
    <title>check-box-outline</title>
    <path d="M18.984 3c1.078 0 2.016 0.938 2.016 2.016v13.969c0 1.078-0.938 2.016-2.016 2.016h-13.969c-1.078 0-2.016-0.938-2.016-2.016v-13.969c0-1.078 0.938-2.016 2.016-2.016h13.969zM18.984 5.016h-13.969v13.969h13.969v-13.969z"></path>
    </svg>

  {% when 'check-box' %}
    <svg class="s-icon s-icon--check-box" viewBox="0 0 24 24">
    <title>check-box</title>
    <path d="M9.984 17.016l9-9-1.406-1.453-7.594 7.594-3.563-3.563-1.406 1.406zM18.984 3c1.125 0 2.016 0.938 2.016 2.016v13.969c0 1.078-0.891 2.016-2.016 2.016h-13.969c-1.125 0-2.016-0.938-2.016-2.016v-13.969c0-1.078 0.891-2.016 2.016-2.016h13.969z"></path>
    </svg>

  {% when 'x' %}
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="s-icon s-icon--x">
      <path d="M 10 10 L 90 90"></path>
      <path d="M 90 10 L 10 90"></path>
    </svg>

  {% when 'search' %}
    <svg class="s-icon s-icon--search" viewBox="0 0 24 24">
    <title>search</title>
    <path d="M21.706 20.294l-4.531-4.531c1.144-1.45 1.825-3.281 1.825-5.262 0-4.688-3.813-8.5-8.5-8.5s-8.5 3.813-8.5 8.5c0 4.688 3.813 8.5 8.5 8.5 1.981 0 3.813-0.681 5.256-1.825l4.531 4.531c0.194 0.194 0.45 0.294 0.706 0.294s0.513-0.1 0.706-0.294c0.4-0.387 0.4-1.025 0.006-1.413zM4 10.5c0-3.581 2.919-6.5 6.5-6.5s6.5 2.919 6.5 6.5c0 1.775-0.712 3.381-1.869 4.556-0.012 0.012-0.025 0.025-0.037 0.038s-0.025 0.025-0.038 0.038c-1.175 1.156-2.781 1.869-4.556 1.869-3.581 0-6.5-2.919-6.5-6.5z"></path>
    </svg>

  {% when 'cart' %}
    <svg aria-hidden="true" focusable="false" role="presentation" class="s-icon s-icon--cart" viewBox="0 0 37 40"><path d="M36.5 34.8L33.3 8h-5.9C26.7 3.9 23 .8 18.5.8S10.3 3.9 9.6 8H3.7L.5 34.8c-.2 1.5.4 2.4.9 3 .5.5 1.4 1.2 3.1 1.2h28c1.3 0 2.4-.4 3.1-1.3.7-.7 1-1.8.9-2.9zm-18-30c2.2 0 4.1 1.4 4.7 3.2h-9.5c.7-1.9 2.6-3.2 4.8-3.2zM4.5 35l2.8-23h2.2v3c0 1.1.9 2 2 2s2-.9 2-2v-3h10v3c0 1.1.9 2 2 2s2-.9 2-2v-3h2.2l2.8 23h-28z"/></svg>

  {% when 'play-arrow' %}
    <svg class="s-icon s-icon--play-arrow" viewBox="0 0 32 32">
    <path d="M16 2.667c-7.36 0-13.333 5.973-13.333 13.333s5.973 13.333 13.333 13.333c7.36 0 13.333-5.973 13.333-13.333s-5.973-13.333-13.333-13.333zM13.333 22v-12l8 6-8 6z"></path>
    </svg>

{% endcase %}
