<header class="collection-header">
  <div class="page-width">
    <div class="section-header text-center">
      <h2>iPhone 7 plus cases</h2>
    </div>
  </div>
</header>

{% include 'all-products-card' with 'iphone-7-plus' %}

<hr>

<header class="collection-header">
  <div class="page-width">
    <div class="section-header text-center">
      <h2>iPhone 7 cases</h2>
    </div>
  </div>
</header>

{% include 'all-products-card' with 'iphone-7' %}

<hr>

<header class="collection-header">
  <div class="page-width">
    <div class="section-header text-center">
      <h2>iPhone 6 plus / 6S plus cases </h2>
    </div>
  </div>
</header>

{% include 'all-products-card' with 'iphone-6-plus' %}

<hr>

<header class="collection-header">
  <div class="page-width">
    <div class="section-header text-center">
      <h2>iPhone 6 / 6 plus cases </h2>
    </div>
  </div>
</header>

{% include 'all-products-card' with 'iphone-6' %}


<button class="m-shopbar medium-up--hide btn btn--cta js-return-btn">
  Return To Top <span class="shopbar__icon">{% include 'svg' with 'chevron_up' %}</span>
</button>

