<header class="collection-header">
  <div class="page-width">
    <div class="section-header text-center">
      <h2>{{ collection.title }}</h2>
    </div>
  </div>
</header>

{% assign show_cta = true %}
{% include 'all-products-card' %}

{% include 'return-btn' %}
