<header class="collection-header">
  <div class="page-width">
    <div class="section-header text-center">
      <h1>{{ collection.title }}</h1>
    </div>
  </div>
</header>

{% include 'all-products-card' with collection.description %}
{% include 'return-btn' %}
