<div class="page-width text-center">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>Frequently Asked Questions</h1>
      </div>

      {% comment %}{- General -}{% endcomment %}
      <div class="faq-general">
        <h4>What's so special about totallee's phone cases?</h4>
        <p>totallee offers phone accessories at an affordable and honest price. Our cases are deliberately simple and offer a sophisticated alternative to the other bulky and over-embellished options. Our phone cases offer everyday protection while remaining ultra thin, understated and unbranded.</p>
        
        <hr class="hr--strike">
        
        <h4>Why does totallee offer such an amazing, 2-year warranty on all products?</h4>
        <p>We are convinced we have the best ultra thin phone cases on the market and are confident you’ll love them as much as we do. All our phone accessories are hand-inspected prior to shipment to ensure they meet our high quality standards and we stand behind this commitment.</p>

        <hr class="hr--strike">

        <h4>How can totallee offer their cases for less than the competition?</h4>
        <p>By selling exclusively online and operating as a small, creative team, we’re able to keep overhead low and do away with pricy TV ads and unwanted middlemen. Further, we work side-by-side with manufacturers and sell directly to you, which allows us to deliver high quality products without the retail markup.</p>
      </div>
    </div>
  </div>
</div>

<div class="faq-accordion text-center page-width">
  <div class="grid grid--no-gutters">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

    {% comment %}{- Shipping -}{% endcomment %}
      <div class="accordion-section">
        <h2>Shipping</h2>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">When will my order be shipped?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>All orders are shipped within 1 business day. Guaranteed.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">How long will it take to get my order?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">

              <table>
                <thead>
                  <th colspan="2">United States</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Standard shipping</td>
                    <td>4-7 business days</td>
                  </tr>
                   <tr>
                    <td>Expedited shipping</td>
                    <td>2-4 business days</td>
                  </tr>
                </tbody>
              </table>
              
				<table>
                <thead>
                  <th colspan="2">Canada</th>
                </thead>
                <tbody>
                  <tr>
                     <td>Shipping w/ Delivery Confirmation</td>
                    <td>15-22 business days</td>
                  </tr>
                </tbody>
              </table>
              
                <table>
                <thead>
                  <th colspan="2">Other International Countries</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Due to COVID19 we are not shipping outside the U.S. and Canada</td>

                  </tr>
                   
                </tbody>
              </table>
              
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">How much does shipping cost?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <table>
                <thead>
                  <th colspan="3">United States</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Standard shipping</td>
                    <td>$6.99*</td>
                    <td>* Free on orders over $50</td>
                  </tr>
                  <tr>
                    <td>Expedited shipping</td>
                    <td>$9.99</td>
                  </tr>
                </tbody>
              </table>

               <table>
                <thead>
                  <th colspan="3">Canada</th>
                </thead>
                <tbody>
                  <tr>
                     <td>Shipping w/ Delivery Confirmation</td>
                    <td>$16.99*</td>
                    <td>* Free on orders over $50</td>
                  </tr>
                </tbody>
              </table>
              
               <table>
                <thead>
                  <th colspan="2">Other International Countries</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Due to COVID19 we are not shipping outside the U.S. and Canada</td>

                  </tr>
                   
                </tbody>
              </table>
              
             
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Can I track my order? Where's my package?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>As soon as your order is shipped, you will receive an email containing a clickable link that will provide you with the tracking information for your package. If you are having trouble viewing this, feel free to <a href="/pages/contact">contact us</a>.</p>
            </div>
          </div>
        </div>
      

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Where do you ship to?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Due to COVID19, we are currently only shipping to the United States and Canada.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Do I have to pay custom fees?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Some international orders outside the U.S. will be subject to local taxes, duties and customs charges for which the recipient is responsible. Customs fees vary from country-to-country and are unfortunately out of our control. We can’t refund you any custom fees, sorry!</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Can I change my order after it has been placed?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>We typically ship orders within hours of receiving them but shoot us an email <a href="mailto:hello@totalleecase.com?subject=Modify my order">here</a> as soon as you realize that something may be wrong. We will work hard to get you what you need!</p>
            </div>
          </div>
        </div>
      </div>

      {% comment %}{- Product -}{% endcomment %}
      <div class="accordion-section">
        <h2>Product</h2>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">What material are totallee cases made of?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Our thin phone case is made of polypropylene, a super durable plastic that adds extra grip. Our clear (soft) case is made from a flexible TPU. Our thin leather phone case has the same polypropylene housing but also features a genuine leather backing.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">How thin are totallee's cases?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Our cases are designed to be ultra-slim and measure .02" thin</p>

              <table class="totallee-cases">
                <tbody>
                  <tr>
                    <td>Naked phone</td>
                    <td><img src="https://cdn.shopify.com/s/files/1/1166/1584/files/iphone-side.jpg?12268219863744474392" alt=""></td>
                  </tr>

                  <tr>
                    <td>Phone with totallee case</td>
                    <td><img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-thin-iphone-case.jpg?12268219863744474392" alt=""></td>
                  </tr>

                  <tr>
                    <td>Phone with bulky case</td>
                    <td><img src="https://cdn.shopify.com/s/files/1/1166/1584/files/bulky-iphone-case.jpg?12268219863744474392" alt=""></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Totallee cases are very thin, but do they offer protection?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Our cases are designed to offer everyday protection from bumps, scratches, dust, and dirt. Don’t let the thinness fool you though – we’ve heard many customer stories of how our case protected their phone from minor drops!</p>
            </div>
          </div>
        </div>
        
         <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Do your cases work with wireless charging?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Yep.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">How do I put on a case from totallee?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Putting on a totallee case is super easy. <a href="/blogs/blog/how-to-put-on-an-iphone-case">Check out our short instructional video</a></p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">How do I apply my screen protector?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Our screen protectors are designed to be super simple to install. <a href="/blogs/blog/tempered-glass-an-iphone-screen-protector-video">Check out our short instructional video</a></p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">How does your case look on my phone?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Our ultra thin phone case is semi-translucent and therefore looks a bit different depending which color phone you pair it with. Check out <a href="/blogs/blog/how-totallee-cases-look-on-different-iphones">our guide</a> that shows all our cases on various phone colors.</p>
            </div>
          </div>
        </div>
      </div>

      {% comment %}{- Warranty -}{% endcomment %}
      <div class="accordion-section">
        <h2>Warranty</h2>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Do you really offer a 2-year warranty?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Yes, indeed. we want to take the stress out of the purchasing process and make trying a totallee case a no-brainer. You can order one risk-free knowing you’re covered for 2 years if anything happens to your case.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">What is covered under your 2-year warranty?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Almost everything, and we mean it. If anything happens to your totallee product we’ll send you a free replacement – just pay shipping. It's as simple as that. Warranty claims are limited to one per product ordered. We also offer a 30-day money back guarantee, so if you want to return your order for any reason within 30 days of making a purchase, we’ll offer you a full refund (excluding shipping fees, if applicable). Certain promotional offers are excluded from the warranty and refund policies. Orders fully paid by Bitcoin are final and cannot be returned for Bitcoin or hard currency.</p>
            </div>
          </div>
        </div>
        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">How do I return a product or get a refund?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>If you are not completely thrilled with your totallee purchase, we will gladly issue you a full refund (excluding shipping fees, if applicable) within 30 days (certain promotional offers and orders fully paid by Bitcoin are excluded). Simply send an email to <a href="mailto:hello@totalleecase.com">hello@totalleecase.com</a> with your order number and let us know why you were unhappy with your order. We value your feedback and promise to make this process as quick and hassle-free as possible.</p>
            </div>
          </div>
        </div>
      </div>

      {% comment %}{- Return and exchange -}{% endcomment %}
      <div class="accordion-section">
        <h2>Company</h2>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Who are the people behind totallee?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>We’re glad you asked! We are a small team working out of sunny South Pasadena, California and you can get to know our team <a href="/pages/totallee-company">here</a>. Interested in peeking behind the curtain even more? Get a behind the scenes look at our day-to-day life via <a href="https://www.instagram.com/totalleecase/" target="_blank">Instagram</a>.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Can I follow you on social media?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>We would be honored! Check us out on <a href="https://www.instagram.com/totalleecase" target="_blank">Instagram</a>, <a href="https://www.facebook.com/totalleecase">Facebook</a>, <a href="https://twitter.com/totalleecase"target="_blank">Twitter</a> and <a href="https://www.pinterest.com/TotalleeCase/" target="_blank">Pinterest</a> to stay in the know and to get your dose of all things totallee. </p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Do you have a newsletter?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>We do and you can <a href="https://app.monstercampaigns.com/c/wuvdqpdn2l2uoj3lltyg/" target="_blank">sign up for our newsletter here.</a> We love sharing our stories, product ideas and deals with our subscribers. We send one email every one to two weeks to ensure we’re offering a unique value in every newsletter.</p>
              <p>Want to unsubscribe? Simply click the ‘unsubscribe’ link at the bottom of any email.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



