<style type="text/css">
.buy-block {
margin-top:0px;
padding: 40px 0 50px;
background-color:#dff2fa;
width: 100vw;
left: calc(-50vw + 50%);
position: relative;
  border-top:1px solid #dbdbdb;
}
.collection_button3 
  { width: 170px;
    height: 38px;
    border-radius:2px;
    margin:15px;
    background: #333; text-align: center; line-height: 38px; font-family: 'Raleway', sans-serif; font-size: 14px; font-weight:700; text-decoration:none; color: #fff !important; display: inline-block !important; } .collection_button3:hover { opacity: .8; }
#shopify-section-footer {
padding-top: 0 !important;
}
.grid p, h3 {
  font-size: 16px !important;
}
.faq-accordion {
  padding: 0 20px !important;
  }
  .accordion-section:first-child {
  border-top:none;
}
.accordion-section:last-child {
    border-bottom:none;
}
  .faq-accordion {
    margin:35px auto 55px !important;
}
.accordion__inner {
  padding: 0 30px 20px !important;
  }
  li {
  font-weight: 300;
}
  .pagetitle {
text-align: center;
margin: 0px auto 50px;
width: 100%;
}
.pagetitle_text {
font-family: 'RALEWAY', sans-serif;
font-weight: 500;
font-size: 28px;
text-align: center;
margin: 0px auto 30px;
width: 100%;
}
.formwhole {
width: 100%;
background: #efefef;
border-top: 1px solid #e1e2e5;
margin-top: 85px;
clear: both;
}
.group {
width: 942px;
height: auto;
margin: 0 auto 40px;
}
.iconouter {
position: relative;
float:left;
width: 234px;
margin: 8px 40px 0px;
}

.iconinner {
padding-left: 77px;
padding-right: -118px;
margin-bottom: 30px;
}
.hours{
position: relative;
width: 234px;
margin: 10px auto 0px;
text-align: center;
font-size: 18px;
font-family: 'Lato', sans-serif;
line-height: 120%;
color: #333;
}
.hours p{
  color: #333;
  }
.description {
position: relative;
width: 250px;
margin: 22px auto 0px;
text-align: left;
}
.description p{
margin:0;
padding: 0;
font-family: 'Lato', sans-serif;
font-weight: 300;
line-height: 140%;
}
.formtitle {
position: relative;
text-align: center;
margin: 0px auto -40px;
width: 100%;
}
.answers_outer {
width: 100%;
padding-top: 40px;
border-top: 1px solid #e1e2e5;
clear: both;
text-align: center;
}
.answers_text {
margin: 0;
font-size: 22px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
margin-bottom: 14px;
color: #333;
}
.address_outer {
width: 100%;
padding-top: 40px;
border-top: 1px solid #e1e2e5;
clear: both;
text-align: center;
margin-bottom: 45px;
}
.address_text {
margin: 0;
font-size: 22px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
margin-bottom: 14px;
color: #333;
}
.address_outer p{
font-size: 16px;
font-family: 'Lato', sans-serif;
font-weight: 300;
line-height: 140%;
color: #000;
margin: 0;
}
.clearfix {
clear: both;
}
.collection_button {
display: block;
width: 200px;
height: 42px;
border-radius: 2px;
margin: 30px auto 30px;
background-color: #36ACE3;
border: 1px, #2D8DBA;
text-align: center;
line-height: 42px;
font-family: 'Raleway', sans-serif;
font-size: 16px;
font-weight:500;
text-decoration:none;
color: #ffffff;
}
.collection_button:hover {
background: #5ABCE2;
}
@media (max-width: 980px) {
.group {
width: 696px;
}
.iconouter {
width: 190px;
margin: 8px 20px 0px;
}
.iconinner {
padding-left: 55px;
margin-bottom: 30px;
}
.hours{
position: relative;
width: 190px;
margin: 10px auto 0px;
text-align: center;
font-size: 16px;
font-family: 'Lato', sans-serif;
line-height: 120%;
}
.description {
position: relative;
width: 190px;
margin: 22px auto 0px;
margin-left: auto;
margin-right: auto;
text-align: left;
font-family: 'Lato', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 150%;
}
@media (max-width: 720px) {
.accordion__inner {
  padding: 0 10px 20px !important;
  }
  .iconouter {
float: none;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
width: 234px;
  }
.group {
width: 100%;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
  }
.iconinner {
padding-left: 77px;
padding-right: -118px;
margin-bottom: 30px;
}
.hours{
position: relative;
width: 234px;
margin: 10px auto 0px;
text-align: center;
font-size: 18px;
font-family: 'Lato', sans-serif;
line-height: 120%;
}
.description {
position: relative;
width: 234px;
margin: 22px auto 0px;
text-align: center !important;
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 120%;
}
.collection_button {
width: 162px;
height: 34px;
font-size: 13px;
line-height: 34px;
}
}
 @media screen and (max-width:980px) {
        #JotFormIFrame {
            max-height: 720px;
        }
   .grid p, h3 {
  font-size: 15px !important;
}
 }
 @media screen and (min-width:980px) {
        #JotFormIFrame {
            max-height: 640px;
        }
    }
  @media (max-width: 749px) {
.accordion__toggle::after {
  right: 0px;
}
    .buy-block {
margin-top:70px;
}
  } 
</style>
<div class="page-width text-center">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
   
     {% comment %}{- General -}{% endcomment %}
      <div class="faq-general">
        <h4 class="h1">We're here for you.</h4>
        <p>Our goal is to provide the help you need as quickly as possible and we promise to respond to all requests within one business days. If you're looking for instant answers, these handy FAQ's are a great place to start:</p>
        
      </div>
    </div>
  </div>
</div>
<div class="faq-accordion text-center page-width">
  <div class="grid grid--no-gutters">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

    {% comment %}{- Shipping -}{% endcomment %}
      <div class="accordion-section">
     
        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">How thin are the cases?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>All of our cases are 0.02 inches thin, except for the clear (soft) and leather cases which are 0.03 inches thin.</p>
            </div>
          </div>
        </div>
      <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Do the cases have screen "lip"?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>Our cases are designed to be as thin as possible, so there is no front "lip" over the screen. If you're looking for more protection, check out our <a href="/collections/screen-protectors" style="text-decoration:underline !important;">tempered glass screen protectors</a>.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">What are the cases made of?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>All of our cases, except for the clear (soft), are made from polypropylene which is a hard, flexible plastic. We also use this plastic as the frame for our leather cases which feature a genuine leather backing. The clear (soft) cases are made from TPU which is flexible and has a grippy, rubbery feel.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Do you offer free shipping?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>All orders over $50 qualify for free shipping, including international orders! If you're using a promo code, your order must be at least $50 after the code is applied in order to qualify for free shipping.</p>
            </div>
          </div>
        </div>

        <div class="accordion">
          <h3 class="js-accordion-toggle accordion__toggle">Can I get a refund or replacement?</h3>
          <div class="js-accordion-content accordion__content">
            <div class="accordion__inner">
              <p>
We offer refunds within 30 days of delivery and replacements within 2-years of delivery. Use the form below to contact us with your order number and we'll help you out.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align:center;"><a href="/pages/faq" class="collection_button3" style="margin:0 !important;"><span style="color:#fff; font-weight: 600; font-family: 'Raleway', sans-serif;">VIEW ALL FAQ</span></a></div>

<div class="formwhole">
  <h1 style="text-align:center; padding-top:55px !important;">Contact Us</h1>
<script type="text/javascript" src="https://form.jotform.com/jsform/83605576771163"></script>
</div>
   
<div class="address_outer">
  <h2 class="h1">Still using a carrier pigeon?</h2>
  <p>totallee<br/>1107 Fair Oaks Avenue, #861<br/>South Pasadena, CA 91030<br/>United States</p>
</div>
<div class="buy-block">
<h2 style="margin-bottom: 20px !important; text-align:center;">Shop by device.</h2>
<div style="margin: 0 auto; text-align: center;"><a href="/collections/thin-iphone-cases" class="collection_button3" style="color: #000000;"><b>SHOP IPHONE</b></a><a href="/collections/thin-pixel-cases" class="collection_button3" style="color: #000000;"><b>SHOP PIXEL</b></a><a href="/collections/thin-galaxy-cases" class="collection_button3" style="color: #000000;"><b>SHOP GALAXY</b></a></div>
</div>
  

 
