<style type="text/css">
.pagetitle_text {
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 28px;
text-align: center;
margin: 0px auto 10px;
width: 100%;
}
.subtext {
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 22px;
text-align: center;
margin: 0px auto 10px;
padding: 15px 15px 0;
width: 100%;
}
.body-text{
font-size: 16px;
font-family: 'Lato', sans-serif;
font-weight: 300;
line-height: 140%;
color: #555555;
margin: 0 0 30px;
  text-align:center;
}
  .main-content {
  padding-top: 0;
}
#shopify-section-footer {
  padding-top:0;
}
  li {
  font-weight: 300;
}

.formwhole {
width: 100%;
background: #efefef;
padding-bottom: 30px;
clear: both;
}

.formtitle {
position: relative;
text-align: center;
margin: 0px auto -40px;
width: 100%;
}

.clearfix {
clear: both;
}

}
@media (max-width: 720px) {
.pagetitle_text {
  padding-top:35px;
} 
.subtext {
font-size: 12px !important;
}
} 

</style>
<div class="inner" style="height:calc(85vh - 141px); background-color:#efefef; display: flex;
    align-items: center;">

<div class="formwhole">
  <h1 class="pagetitle_text">you're a week early.</h1>
  <p class="body-text">awkward....</p>
  
  </div>
  </div>