<style type="text/css">
.main-content {
  padding-top:0 !important;
}
  .heroimage {
    height:400px;
       height:400px;
    display:flex;
    align-items: center;
  justify-content: center;
    margin-bottom:60px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('https://cdn.shopify.com/s/files/1/1166/1584/files/about-totallee-company.jpg?v=1589837284');
}
  .heroimage h1 {
    text-align:center;
    font-size:42px;
  }
  .half-block__item {
    flex-basis: 45% !important;
  }
  .half-block__desc {
    padding: 25px;
}
  .half-block {
   justify-content: space-around !important;
  }
  .half-block.half-block--image {
    padding:3% !important;
  }
  .mainp {
  font-size:18px !important; max-width:600px; margin:20px auto 30px;
  }
  #shopify-section-footer {
    padding-top:0 !important;
  }
  .upsell-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     justify-content: center !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    min-height: 1px;
    align-items: stretch !important;
  }
  .upsell-text {
    text-align:center;
    width:50%;
    padding:100px 0;
  }
   .upsell-text p {
      max-width:400px;
     margin:0 auto;
   }
  .upsell-img {
    width:50%;
    height:auto;
    background-size: cover;
    background-position: 12% 50%;
    background-repeat: no-repeat;
    background-image: url('https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-accessories-hand.jpg?v=1589229822');
}
  .upsell-img img{
    visibility: hidden;
  }
  .pagetitle {
text-align: center;
margin: 0px auto 26px;
width: 100%;
}
.pagetitle_text {
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 28px;
  text-align: center;
margin: 0px auto 26px;
width: 100%;
}
.about {
position: relative;
max-width: 580px;
margin: 18px auto 40px;
padding: 0px 20px;
text-align: left;
font-size: 16px;
font-family: 'Lato', serif;
color: #555555;
line-height: 140%;
}
.collection_button {
display: block;
width: 200px;
height: 42px;
border-radius: 2px;
margin: 30px auto 30px;
background-color: #36ACE3;
border: 1px, #2D8DBA;
text-align: center;
line-height: 42px;
font-family: 'Raleway', sans-serif;
font-size: 16px;
font-weight:700;
text-decoration:none;
color: #ffffff;
}
.collection_button:hover {
background: #5ABCE2;
}
.teamwrapper {
margin-top: 50px;
  padding-top:70px;
background: #efefef;
padding-bottom: 50px;
}
.teamtitle {
position: relative;
text-align: center;
margin: 0 auto;
width: 100%;
}
.team_title_text {
margin:0;
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 28px;
}
.group {
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 810px;
text-align: center;
margin: 30px auto 0;
}
.iconouter {
position: relative;
text-align: center;
width: 210px;
margin: 10px 30px 20px;
}
.iconouter:nth-of-type(7) {
position: relative;
text-align: center;
width: 210px;
margin: 10px 30px 10px;
}

.iconwrapper {
margin-bottom: 20px;
}
.iconwrapper {
 perspective: 1000;
}
.bio{
position: relative;
width: 210px;
margin: 10px auto 0px;
text-align: center;
font-size: 16px;
font-family: 'Raleway', sans-serif;
font-weight: 600;
line-height: 140%;
}
.biosub{
font-size: 16px;
font-family: 'Lato', sans-serif;
line-height: 160%;
font-weight: 300;
}
.bio p{
color: #333333;
}
  .bio a{
color:#000;
text-decoration: none;
}
.bio a:hover{
color:#adadad;
}

.f1_container {
  position: relative;
  margin: 10px auto;
  width: 170px;
  height: 300px;
  z-index: 0;
 
}
.f1_container {
  -webkit-perspective: 1000;
  -mos-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.f1_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .6s linear;
  -mos-transform-style: preserve-3d;
  -mos-transition: all 0.6s linear;
  -ms-transform-style: preserve-3d;
  -ms-transition: all 0.6s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 0.6s linear;
  transform-style: preserve-3d;
  transition: all 0.6s linear;
   -webkit-box-shadow: -3px 3px 6px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    -3px 3px 6px 0px rgba(50, 50, 50, 0.3);
box-shadow:         -3px 3px 6px 0px rgba(50, 50, 50, 0.3);
}
.f1_container:hover .f1_card {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.clearfix {
clear:both;
}
.sub_outer {
width: 50%;
box-sizing: border-box;
display: inline-block;
border-top: 1px solid #e1e2e5;
padding-bottom: 55px;
}
.sub_outer2 {
width: 50%;
box-sizing: border-box;
display: inline-block;
border-top: 1px solid #e1e2e5;
border-left: 1px solid #e1e2e5;
padding-bottom: 55px;
}
.sub_title {
margin: 50px 0px 20px;
text-align: center;
}
.sub_text {
max-width: 480px;
text-align: center;
margin: 12px auto 40px;
padding: 0px 40px;
font-size: 15px;
font-weight: 300;
font-family: 'Noto Serif', serif;
color: #555555;
line-height: 140%;
}
.sub_text_title {
margin: 0;
font-size: 22px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
margin-bottom: 14px;
color: #000;
}
.sub_text a{
font-family: 'Karla', sans-serif;
font-size: 13px;
color: #555555;
text-decoration:none;
margin-top: 8px;
}
.sub_text a:hover{
color:#adadad;
}

.answers_outer {
width: 100%;
padding: 50px 0px 0px;
clear: both;
text-align: center;
border-top: 1px solid #e1e2e5;
}
.newsletter {
width: 100%;
padding: 50px 0px 0px;
  background-color:#efefef;
clear: both;
text-align: center;
border-top: 1px solid #e1e2e5;
  padding-bottom:56px;
}
.answers_text {
margin: 0;
font-size: 28px;
font-family: 'Raleway', sans-serif;
font-weight: 500;
margin-bottom: 14px;
color: #000;
}
.answers_outer a{
font-size: 20px;
font-family: 'Lato', sans-serif;
font-weight: 300;
color: #000;
}
.answers_outer a:hover{
color: #adadad;
}
.klaviyo_flyout input[type=text], .klaviyo_flyout input[type=email] {
    margin: 0 4px 12px 0 !important;
}
  .klaviyo_flyout .success_message {
    font-size:16px !important;
  }
@media (max-width: 840px) {
  .heroimage {
    height:300px;
    padding-bottom:10px;
    margin-bottom:0;
  }
    .heroimage h1 {
    padding:120px 0;
      font-size:32px !important;
  }
  .group {
max-width: 540px;
}
.about {
padding: 0px 40px;
}
}
  @media (max-width: 750px) {
  .half-block.half-block--image {
    padding:0 !important;
  }
    .half-block__desc {
    padding: 35px 0 45px;
}
    .half-block__desc p {
      margin-bottom:15px;
    }
    .rightreverse {
      display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
    .half-block__item {
    width: 90%;
    margin: 0 auto;
    }
      .mainp {
  font-size:16px !important; max-width:600px; margin:20px auto 10px;
        padding-left:10px;
                padding-right:10px;
  }
    .teamwrapper {
padding-top: 60px;
      padding-bottom:40px;
    }
    .upsell-bottom {
      display:block
    }
      .upsell-text {
    text-align:center;
    width:100%;
    padding:60px 0 10px;
    display:block;
  }
   .upsell-text p {
      max-width:400px;
     margin:0 auto;
   }
  .upsell-img {
    width:100%;
    height:auto;
    display:block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-accessories-hand.jpg?v=1589229822');
}
    .upsell-img {
      visibility: visible;
    }
}
  
  
@media (max-width: 580px) {
.newsletter {
  padding-bottom:10px;
}
  .group {
max-width: 270px;
}
.collection_button {
width: 176px;
height: 34px;
margin: auto;
font-size: 13px;
line-height: 34px;
}
.sub_outer {
display:block;
width: 100%;
margin: auto;
}
.sub_outer2 {
display:block;
width: 100%;
margin: auto;
border-left: none;
}
.answers_text {
    font-size: 22px;
}
</style>
<div class="heroimage">
  <h1>About Us</h1>
</div>
<div class="half-block half-block--image">

           
          
        <div class="half-block__item">
          <div class="half-block__desc" style="max-width: 550px !important;">
          
              <h2 style="text-align:left !important;">The totallee mission.</h2>
            
              <p style="text-align:left !important;">Since 2013, we’ve focused on two simple, but important goals: offer the best minimalistic phone accessories and provide an incredible customer experience.</p><p style="text-align:left !important;">We’ve designed all our products to go relatively unnoticed (think slim, deliberately simple, no logos), but we strive for the opposite when it comes to taking care of our customers. We take pride in building relationships for the long-term and love delighting customers with every interaction. (Email us with the subject line "Surprise" and see what happens).</p>
            
          </div>
        </div>
   <div class="half-block__item half-block__item--bg js-block-bg" style="background-image: url('https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-company-mission.jpg?v=1589223104');">
              <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-company-mission.jpg?v=1589223104" alt="totallee mission and products" class="half-block__image js-block-img">
            </div>
      
        </div>
<div class="half-block half-block--image rightreverse">
       
  <div class="half-block__item half-block__item--bg js-block-bg" style="background-image: url('https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-products.jpg?v=1589223004');">
              <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-products.jpg?v=1589223004" alt="totallee phone accessories being inspected" class="half-block__image js-block-img">
            </div>
    <div class="half-block__item">
          <div class="half-block__desc" style="max-width: 550px !important;">
              <h2 style="text-align:left !important;">Our product promise.</h2>
            <p style="text-align:left !important;">From the products themselves to packaging they arrive in, we've carefully designed a collection accessories that complement and enhance the everyday lives of our customers. We stand behind each item we make by offering a 30 day money-back guarantee and an amazing 2 year warranty.</p><p style="text-align:left !important;">If you need anything at all, we’re easy to reach – you can <a href="/pages/contact" style="text-decoration:underline !important; color:#6e6e6e !important;">contact us</a> and we’ll get back to you within one buisiness day.</p>
      <a class="collection_button" href="/collections/thin-iphone-cases" style="margin:30px 0 0 !important; background-color:#111 !important;">SHOP IPHONE CASES</a>
            <a class="collection_button" href="/collections/accessories" style="margin:8px 0 0 !important; background-color:#111 !important;">SHOP ACCESSORIES</a>
      </div>
        </div>
        </div>
  
<div class="teamwrapper"><div class="teamtitle">
  <h2>Our Team</h2>
  <p class="mainp">We're a small group of hard working, creative individuals who care about the products we make and the people we make them for.
  </p>
  </div>
  <div class="group">
  
  <!-- matt card -->
<div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/matt_77475508-82b5-4395-9af8-f176879ca10b.jpg?3511925507343552485" alt="Portrait of man in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-signed-card-matt.jpg?15372466004834683704" alt="Black warranty card signed by totallee staff member Matthias" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Matthias H.
<span class="biosub"><br/> 
<em>Founder </em><br/>
</p>
</div>
</div>
    
<!-- mitch card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/mitchell.jpg?3511925507343552485" alt="Portrait of man in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-signed-card-mitchell.jpg?15372466004834683704" alt="Black warranty card signed by totallee staff member Mitchell" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Mitchell A.
<span class="biosub"><br/> 
<em>Marketing and design</em><br/>
</p>
</div>
</div>
    
<!-- natalie card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/natalie.jpg?3511925507343552485" alt="Portrait of woman in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-signed-card-natalie.jpg?2546932577210041714" alt="Black warranty card signed by totallee staff member Natalie" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Natalie A.<span class="biosub"><br/> 
<em>Takes sweet pics</em><br/>
</p>
</div>
</div>    
<!-- Dianne card -->
<div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/dianne_26cfe0ab-ad05-4377-b500-3330b4cf4624.jpg?3511925507343552485" alt="Portrait of woman in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-signed-card-dianne.jpg?2546932577210041714" alt="Black warranty card signed by totallee staff member Dianne" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Dianne N.<span class="biosub"><br/>
  <em>Shipping  queen</em><br/>
</p>
</div>
</div>
<!-- George card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/george.jpg?3511925507343552485" alt="Portrait of a man in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-signed-card-george.jpg?2546932577210041714" alt="Black warranty card signed by totallee staff member George" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>George H.<span class="biosub"><br/>
<em>The curious one</em><br/>
</p>
</div>
</div>
   
    
    <!-- Caitlin -->
<div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/caitlin.jpg?3511925507343552485" alt="Portrait of a woman in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-signed-card-caitlin.jpg?17420552642218117841" alt="Black warranty card signed by totallee staff member Caitlin" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Caitlin S.<span class="biosub"><br/>
  <em>Customer experience creator</em><br/>
</p>
</div>
</div>
    
<!-- jenna card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/jenna.jpg?3511925507343552485" alt="Portrait of woman in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-signed-card-jenna.jpg?14260516939075748621" alt="Black warranty card signed by totallee staff member Jenna" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Jenna M.<span class="biosub"><br/> 
<em>Master of press</em><br/>
</p>
</div>
</div>  
    
    <!-- frank card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/franks.jpg?3986012430944190274" alt="Portrait of man in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/sig-frank.jpg?3986012430944190274" alt="Black warranty card signed by totallee staff member Frank" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Frank T.<span class="biosub"><br/> 
<em>Packer, picker, upper</em><br/>
</p>
</div>
</div>  
    
      <!-- alex card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/alex.jpg?11678" alt="Portrait of man in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/alex-sig.jpg?11678" alt="Black warranty card signed by totallee staff member Adrian" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Alex B.<span class="biosub"><br/> 
<em>Utility player</em><br/>
</p>
</div>
</div>  
    
          <!-- crystal card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/crystal-staff-member-totallee.jpg?1968" alt="Portrait of woman in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/signed-totallee-card-crystal.jpg?1968" alt="Black warranty card signed by totallee staff member Crystal" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Crystal J.<span class="biosub"><br/> 
<em>Packing queen</em><br/>
</p>
</div>
</div> 
    
          <!-- margaret card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/margaret-staff-member-totallee.jpg?1968" alt="Portrait of woman in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/signed-totallee-card-margaret.jpg?1968" alt="Black warranty card signed by totallee staff member Margaret" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Margaret M.<span class="biosub"><br/> 
<em>Customer experience creator</em><br/>
</p>
</div>
</div> 
    
     <!-- manny card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/manny-2.jpg?11678" alt="Portrait of dog in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-signed-card-manny.jpg?11680" alt="Black warranty card signed by totallee staff member Jack" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Manny R.<span class="biosub"><br/> 
<em>The new guy</em><br/>
</p>
</div>
</div> 
    
    <!-- travis card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/travis-staff.jpg?v=1580951295" alt="Portrait of man in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/travis-sig.jpg?v=1580951295" alt="Black warranty card signed by totallee staff member Travis" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Travis H.<span class="biosub"><br/> 
<em>The pack man</em><br/>
</p>
</div>
</div>

<!-- jack card -->
    <div class="iconouter"> <div class="f1_container">
<div class="f1_card">
  <div class="front face">
    <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/jack-staff-member-totallee.jpg?1968" alt="Portrait of dog in front of exposed brick wall" height="300"/>
  </div>
  <div class="back face center"> <img src="https://cdn.shopify.com/s/files/1/1166/1584/files/signed-totallee-card-jack.jpg?1968" alt="Black warranty card signed by totallee staff member Jack" height="300"/>
  </div>
</div>
</div>
<div class="bio">
<p>Jack the Dog<span class="biosub"><br/> 
<em>Chief morale officer</em><br/>
</p>
</div>
</div>
    
         
    
 </div>
<div class="clearfix"></div></div>
<!-- shop -->

<div class="upsell-bottom">
  <div class="upsell-text"><h2>Now that we’re acquainted...</h2><p class="mainp">Join 500,000 other totallee customers and give us a try! Returns are always free and easy.</p>
  <a class="collection_button" href="/collections/thin-iphone-cases" style="background-color:#111 !important; margin:30px auto 0 !important;">SHOP IPHONE CASES</a> 
    <a class="collection_button" href="/collections/accessories" style="background-color:#111 !important; margin:8px auto 0 !important;">SHOP ACCESSORIES</a>    
  </div>
  <div class="upsell-img"><img src="https://cdn.shopify.com/s/files/1/1166/1584/files/totallee-accessories-hand.jpg?v=1589229822"/></div>
</div>

 


