<style type="text/css">
.pagetitle {
	text-align: center;
	margin: 40px auto 30px;
	width: 100%;
}
.pagetitle_text {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size: 28px;
	text-align: center;
	margin: 40px auto 30px;
	width: 100%;
}
.formwhole {
	width: 100%;
	background: #e1e2e5;
	border-top: 1px solid #e1e2e5;
	margin-top: 45px;
	clear: both;
}
.group {
	width: 942px;
	height: auto;
	margin: 0 auto 40px;
}
.iconouter {
	position: relative;
	float:left;
	width: 234px;
	margin: 8px 40px 0px;
}

.iconinner {
	padding-left: 77px;
	padding-right: -118px;
	margin-bottom: 30px;
}
.hours{
	position: relative;
	width: 234px;
	margin: 10px auto 0px;
	text-align: center;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	line-height: 120%;
}
.description {
	position: relative;
	width: 250px;
	margin: 22px auto 0px;
	text-align: left;
}	
.description p{
	margin:0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 140%;
}
.formtitle {
	position: relative;
	text-align: center;
	margin: 0px auto -40px;
	width: 100%;
}
.answers_outer {
	width: 100%;
	padding-top: 40px;
	border-top: 1px solid #e1e2e5;
	clear: both;
	text-align: center;
}
.answers_text {
	margin: 0;
	font-size: 22px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 14px;
	color: #555;
}
.answers_outer a{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #000;
}
.answers_outer a:hover{
	color: #adadad;
}
.address_outer {
	width: 100%;
	padding-top: 40px;
	border-top: 1px solid #e1e2e5;
	clear: both;
	text-align: center;
	margin-bottom: 45px;
}
.address_text {
	margin: 0;
	font-size: 22px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 14px;
	color: #555;
}
.address_outer p{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 140%;
	color: #000;
	margin: 0;
}
	
.clearfix {
	clear: both;
}
.collection_button {
	display: block;
	width: 200px;
	height: 42px;
	border-radius: 2px;
	margin: 30px auto 50px;
	background: #000;
	text-align: center;
	line-height: 42px;
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	font-weight:700;
	text-decoration:none;
	color: #ffffff;
}
.collection_button:hover {
	background: #adadad;
}
@media (max-width: 980px) {
.group {
	width: 696px;
}
.iconouter {
	width: 190px;
	margin: 8px 20px 0px;
}
.iconinner {
	padding-left: 55px;
	margin-bottom: 30px;
}
.hours{
	position: relative;
	width: 190px;
	margin: 10px auto 0px;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	line-height: 120%;
}
.description {
	position: relative;
	width: 190px;
	margin: 22px auto 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 150%;
}	
	
@media (max-width: 720px) {
.iconouter {
	float: none;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 234px;
  }
.group {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
  }
.iconinner {
	padding-left: 77px;
	padding-right: -118px;
	margin-bottom: 30px;
}
.hours{
	position: relative;
	width: 234px;
	margin: 10px auto 0px;
	text-align: center;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	line-height: 120%;
}
.description {
	position: relative;
	width: 234px;
	margin: 22px auto 0px;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
}	
.collection_button {
	width: 162px;
	height: 34px;
	font-size: 13px;
	line-height: 34px;
}
}
 @media screen and (max-width:980px) {
        #JotFormIFrame {
            max-height: 720px;
        }
 }
 @media screen and (min-width:980px) {
        #JotFormIFrame {
            max-height: 640px;
        }
		
    }
</style>

<div class="inner">
<div class="pagetitle"><h1 class="pagetitle_text">contact us</h1>
 </div>
<div class="group">
	<div class="iconouter"> <div class="iconinner"><img src=		"https://cdn.shopify.com/s/files/1/1166/1584/files/email-totallee-customer-support-contact.jpg?17650622995766834765" alt="An email icon" /></div>
<div class="hours">
<p><b>24/7<br />
seriously.<br />
hello@totalleecase.com</p>
</div>
<div class="description">
<p>Probably the best way to get in touch with us. Send an email to the address above and we&#8217;ll get back to you within one business day.</p>
</div>
</div>
	<div class="iconouter">
		  <div class="iconinner"><img src=		"https://cdn.shopify.com/s/files/1/1166/1584/files/call-totallee-customer-support-contact.jpg?3010244783641828348" alt="A phone icon" /></div>
		  <div class="hours">
		    <p>Mon. - Fri.<br/>
10 am &#8211 6 pm (PST)<br/>
1 (855) 855-2627</p>
	      </div>
		  <div class="description">
		    <p>Old school, but effective. We like your style. Calling after hours? No problem. Leave a detailed message and we&#8217;ll ring you back within one business day.</p>
	      </div>
    </div>
		<div class="iconouter">
		  <div class="iconinner"><img src=		"https://cdn.shopify.com/s/files/1/1166/1584/files/twitter-totallee-customer-support-contact_jpg.jpg?5063022300864989143" alt="The Twitter bird icon" /></div>
		  <div class="hours">
		    <p>24/7<br />
tweet!<br />
@totalleecase</p>
	      </div>
		  <div class="description">
		    <p>Much like email, our Twitter never sleeps. Tweet at us with any questions, comments, or simply to say &quot;hello&quot;. We promise to chirp back within one business day.</p>
	      </div>
    </div>
    <div class="clearfix"></div>
 </div>
<div class="answers_outer">
  <h2 class="answers_text">looking for instant answers?</h2>
  <a href="/pages/faq">check out our faq's</a>
  </div>

<div class="formwhole">
<script type="text/javascript" src="https://form.jotform.com/jsform/61044845797163"></script>
</div>
   
<div class="address_outer">
  <h2 class="address_text">still using a carrier pidgeon?</h2>
  <p>totallee<br/>1107 fair oaks avenue, #861<br/>south pasadena, ca 91030<br/>united states</p>
</div>
<div class="answers_outer">
  <h2 class="answers_text"><span style="color:#000; font-size:28px">find your case </span></h2>
  <a href="/pages/iphone-cases" class="collection_button"><span style="color:#fff; font-weight: 700; font-family: 'Karla', sans-serif;">SHOP COLLECTION</span></a>
</div>
  
  
  <!-- ===== KLAVIYO ====== -->
    <script>
  var _learnq = _learnq || [];
  _learnq.push(['account', 'qn79HgY']); 
  (function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
  })();
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];

  _learnq.push(['account', 'qn79Hg']);

  (function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
  })();
</script>
